table {
  border-collapse: collapse;
}

table tr{
  border: 1px solid #000;
}

table td{
  width: 30px !important;
  height: 30px !important;
  border: 2px solid #ccc;
  border-radius: 5px;
}

td.hidden {
  background-color: #e8dddd;
}

td.hasMine {
  background-color: #a22;
}

td.flag {
  background-color: #819;
}

td.revealed {
  background-color: #fff;
}


.container {
  margin-top: 20px;
}
